html {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

#toxicity {
    width: 100%;
    text-align: center;
    overflow: auto;
    font-weight: bold;
}

#toxicity p {
    margin: 20px 10px;
}

#factors {
    padding: 0 20px 0 40px;
}

#factors li {
    margin: 0 0 15px 0;
    text-align: justify;
}

#factors li span {
    font-weight: bold;
}

#not-meeting-response {
    padding: 20px 40px;
}

/* Backgrounds */
.green {
    background-color: #3bad37;
}

.yellow {
    background-color: #c9be28;
}

.red {
    background-color: #c92828;
}

.transparent {
    background-color: transparent;
}